
.container
{
    height:100%;
    width:100%;
    max-width: 1440px;
    margin:0 auto;
}



.header
{
    width:100%;
    height:100px;
    background-color:#2B4074;
}
.header_inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;

}
.logo
{
    padding-left:60px;
    width:100%;
    height:65px;  

}
.menu 
{
    position: relative;
    right:150px;
    padding: 10px;
    background-color: white;
    border-radius:3px;
    cursor: pointer;
    opacity: 0.75;    
}
.menu:hover
{
    opacity:100%;
    
}
.menu .toggle-btn span
{
display: block;
width: 14px;
height: 3px;
margin:2px ;
background-color:#2B4074;
}



.intro
{ 
    background:no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-image:url('images/intro/bg.jpg');
}
.intro_inner
{  
    display: flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    align-items: center;
    padding-bottom: 200px; 
}
.h2_intro
{
    padding-top: 100px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0;
}
.p_intro
{   
    font-family: 'Roboto Condensed', sans-serif;  
    font-size:24px;
    line-height:26px;
    color: #FFFFFF;
}
.owl_btn
{
    position:absolute;
    right: 0%;
    top:354px; 
    cursor: pointer;
}

.prev
{
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 70px;
    width: 70px;
    background-color: #F9F6E5;
    
}
.prev:hover
{
    background-color:#2B4074;
}
.next
{
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 70px;
    width: 70px;
    background-color: #F9F6E5;   
}
.next:hover
{
    background-color:#2B4074;
}
.left
{
    width:18px;
    height:18px;    
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform:rotate(-45deg);

}
.prev:hover .left
{
    border-top: 3px solid white;
    border-left: 3px solid white;
}
.right
{
    width:18px;
    height:18px;    
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform:rotate(135deg);
}
.next:hover .right
{
    border-top: 3px solid white;
    border-left: 3px solid white;
}
.btn_intro
{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    margin: auto;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    width: 200px;
    height: 50px;
    background: #2B4074;
    border-radius: 3px; 
    cursor: pointer;
}
.btn_intro:hover
{
    background:#F9F6E5;
    color:#2B4074;
}



.promo
{
    width:100%;
    background-color:#2B4074;
}
.promo_inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_promo
{
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    font-size: 18px;
    line-height: 18px;        
    width: 200px;
    height: 50px;
    background: #F9F6E5;
    border-radius: 3px;
    color: #2B4074;
    cursor: pointer;
    opacity: 0.75;
}
.btn_promo:hover
{
    opacity:100%;   
}
.text_promo
{
    padding-left: 150px;
    padding-top: 30px;
}
.h2_promo
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;  
}
.p_promo
{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;   
}



.services
{
    width: 100%;
    
    background-color: #FFFFFF;

}

.text_services
{
    padding-left:62px;
    padding-top: 50px;
}
.h2_services
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #2B4074;
}
.p_services1
{
    width: 350px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}
.line_services
{
    width: 100px;
    height: 8px;    
    background: #2B4074;
}
.p_services2
{
    width: 351px;
    height: 68px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
}

.p_block1
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}
.wrapper-box
{
    padding-top: 5px;
}
.service-wrap2, .service-wrap1
{
    display: flex;  
}
.services_inner
{
    display:flex;
    justify-content: space-between;
}

.box
{ 
    width: 225px;
    height: 255px;
    border: 1.5px solid #F9F6E5 ;
    transition: 0.2s;
}
.box_block1
{
    padding-top: 70px;   
}
.image_block1
{
    display: block;
    margin: 0 auto; 
    width: 60px;
}
.box_block2
{
    margin-top: 70px;
    visibility: hidden;
}
.box:hover
{
    border: 1.5px solid #2B4074;
}
.box:hover .box_block2
{
    margin-top: 25px;
    visibility:visible;
    transition: 0.3s;
}
.box:hover .box_block1
{
   padding-top: 25px;
   transition: 0.3s;
}

.p_block2
{  
    font-family: "Roboto";
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
}
.Full_view
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #2B4074;
}




/* Work */
.Work
{
    width: 100%;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}
.title_text
{   
    padding-top: 80px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.title_line
{
    margin:0 auto;
    height: 8px;
    width: 100px;
    background: #FFFFFF;
}
.portfolio-wrap
{ 
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.work-wrapper
 {
    display: flex;
 }

.portfolio
{   position: relative;
    width: 268px;
    height: 239px;
    margin: 10px;

}
.img_radius
{
    border-radius: 4px;
}
.overlay
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12px;
    top: 11px;
    height: 217px;
    width: 244px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.4s;
    background-color: #F9F6E5;
}
.info_but
{
    margin: 10px;
}
.portfolio:hover .overlay
{
    opacity: 0.83;
}

.content_text
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    width: 268px;
    margin: 10px;
    color: #2B4074;  
}

/* Video */

.team
{
    width: 100%;
    background: #FFFFFF;
}
.team_inner
{
    padding-top: 40px;
    padding-bottom: 50px;
    display:flex;
    justify-content: space-evenly;
}
.teamh2
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #4A4A4A;
}
.team_line
{
    width: 114px;
    height: 8px;
    background: #2B4074;
}
.teamP
{   padding-top: 10px;
    padding-bottom: 10px;
    width: 584px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9B9B9B;
}
.watch_button
{
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
    transition: 0.2s;
}
.watch_button:hover
{
    background: #142550;
    
}

/* news */

.news
{
    width: 100%;
    background: #F9F6E5;
}
.newsh2
{
    padding-top: 50px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #4A4A4A;
}
.news_line
{
    margin: 0 auto;
    width: 100px;
    height: 8px;
    background: #2B4074;
}
.news_inner
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
}
.news_wrap
{
    display: flex;
}
.news-blog
{
    
    margin: 16px;
    width: 270px;
    background: #FFFFFF;

}
.news-blog_img
{
    position: relative;
}
.news_img-radius 
{
    border-radius: 4px;
}
.news-blog_p
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
    margin: 0;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.news-blog_overlay
{
    position: absolute;
    background: rgba(43, 64, 116, 0.3);
    border: 10px solid #2B4074;
    box-sizing: border-box;
    width: 270px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
    
}
.news_info-btn
{
    position: absolute;
    top: 40%;
    left: 110px;
}
.overlay_p
{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 11px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #F9F6E5;
    background: #2B4074;;
}
.news-blog:hover .news-blog_overlay
{
opacity: 1;
}
.news-blog:hover .news-blog_p
{
    visibility: hidden;
} 
.news-blog:hover
{
    background-color: transparent;
}

/* quote */

.quote
{
    width: 100%;
    height: 550px;
    background: #FFFFFF;
}
.quote_title
{
    width: 32px;
    height: 27px;
}
.quote_inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.span
{
    color:  #2B4074;
    width: 600;
}
.quote_p
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
}
.quote_p2
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

/* footer */

.footer
{
    position:relative;
    width: 100%;
  
    background: #2B4074;
}
.footer_logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #2B4074;
    width: 230px;
    height: 60px;
    left: 42%;
    top:-30px;
    border-radius: 3px;
}
.footer_inner
{

    padding-top: 150px;
}
.footer_P
{   
    padding-left: 150px;
    width: 600px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.footer_icon-wrap
{
    display: flex;
    justify-content: center;
}
.icon
{
    padding-top: 26px;
    padding-bottom: 17px;
    padding-left: 127px;
    padding-right: 130px;
    border: 1px solid #7EBF84;
}
.icon1
{
    border-left: 0px;
}
.icon4
{
    border-right: 0px;
}
.footer_contact-wrapper
{
    display: flex;
    padding-left: 150px;

}
.contact-wrap
{
    display: flex;
}
.contact
{
    width: 275px;
}
.contact_H3
{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #F9F6E5;
}
.contact_p
{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;      
}

/* back */

.back
{
    width: 100%;
    height: 42px;
    background: #F9F6E5;
}
.back_inner
{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 120px;
}
.back_link
{
    padding-top: 10px;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
    transition: 0.5s;    
}

/* media */

@media (max-width:1280px)
{
 .container
 {
     max-width: 942px;
 }
 .h2_intro
 {
    font-size: 84px;
    line-height: 84px;
 }
 .text_promo
 {
     padding-left: 46px;
 }
 .text_services
 {
     padding-left: 0px;
 }
 .h2_services
 {
     text-align: center;
 }
 .p_services1
 {
     width: 600px;
 }
.p_services2
 {
     width: 600px;
 }
 .services_inner
 {
     flex-direction: column;
 }
 .wrapper-box
 {
     align-items: center;
 }
 .box
 {
     width: 250px;
 }
 .work-wrapper
 {
     flex-direction: column;
 }
 .port1
 {
     padding-bottom: 30px;
 }
 .port2 
 {
     padding-bottom: 30px;
 }
 .port3
 {
     padding-bottom: 30px;
 }
 .team_inner
 {
     padding-top: 80px;
 }
 .team_img
 {
     width: 395px;
     height: 380px;
 }
 .teamh2
 {
     margin: 0;
     padding-bottom: 20px;
 }
 .teamP
 {
     width: 523px;
 }
 .news_wrap
 {
     flex-direction: column;
 }
 .footer_P
 {
     padding-left: 0px;
 }
.footer_contact-wrapper
{
     padding-left: 0px;
} 
 .icon
 {
     padding-left: 110px;
     padding-right: 110px;
     padding-top: 20px;
 }
 .contact
 {
     width: 235px;
 }
 .contact3 
 {
     width: 241px;
 }
 .contact2 
 {
     width: 249px;
 }
}


@media(max-width: 990px)
{
 .container
 {
    max-width: 740px;
 }
 .intro_inner
 {
     padding-bottom: 110px;
 }
 .h2_intro
 {
     padding-top: 87px;
 }
 .next
 {
     width: 56px;
     height: 56px;
 }
 .prev
 {
     width: 56px;
     height: 56px;
 }
 .p_intro
 {
    width: 587px;
    font-size: 18px;
    line-height: 20px;
 }
 .text_promo
 {
     padding-top: 0px;
     padding-left: 0px;
 }
 .wrapper-box
 {
    display: flex;
    justify-content: center;
 }
 .service-wrap1
 {
     flex-direction: column;
 }
 .service-wrap2
 {
     flex-direction: column;
     
 }
 .box
 {
     width: 340px;
 }
 .team_img
 {
     width: 240px;
     height: 227px;
 }
 .teamP
 {
     width: 407px;
 }
 .quote_p
 {
     width: 687px;
     font-size: 24px;
 }
 .quote_inner
 {
    max-width: 690px;
 }
 .footer_logo
{
    left: 33%;
}
.icon
 {
     padding-left: 80px;
     padding-right: 73px;
     padding-top: 20px;
 }
 .contact
 {
     width: 182px;
 }

}

@media(max-width: 540px)
{
 .container
 {
     width: 100%;
 }
 .menu
 {
     right: 40px;
 }  
 .h2_intro
 {
    font-size: 36px;
    line-height: 36px;

 }   

 .p_intro
 {
     display: none;
 }
 .intro_line
 {
     width: 61px;
     height: 8px;
     background: #4A4A4A;
     margin: 20px;
 }
 .next,.prev
 {
     display: none;
 }
 .promo_inner
 {
     flex-direction: column;
     padding-top: 40px;
     padding-bottom: 40px;
 }
 .text_promo
 {
     text-align: center;
 }
 .p_promo
 {
     max-width: 300px;
     margin: 0 auto;
     padding-bottom: 40px;
 }
 .text_services
 {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .p_services1,.p_services2
 {
     text-align: center;
     max-width: 280px;
 }
 .p_services1
 {
     font-size: 20px;
     line-height: 24px;
 }
 .p_services2
 {
     font-size: 15px;
     line-height: 17px;
     padding-bottom: 30px;
 }
 .h2_services
 {
     font-size: 24px;
     line-height: 28px;
 }
 .services_line-mobile
 {

     width: 100px;
     height: 8px;
     background: #2B4074;   
 }
 .line_services
 {
     display: none;
 }
 .wrapper-box
 {
     flex-direction: column;
 }
 .box
 {
     width: 280px;
     height: 300px;
 }
 .portfolio-wrap
 {
    flex-direction: column;
    align-items: center;
 }
 .team_inner
 {
     flex-direction: column;
     align-items: center;
 }
 .team_img
 {
     width: 280px;
     height: 240px;
     padding-bottom: 40px;
 }
 .team_text
 {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .teamP
 {
     max-width: 300px;
     text-align: center;
 }
 .teamh2
 {
     font-size: 24px;
     line-height: 38px;
 }
 .team_line
 {
     width: 50px;
 }
 .newsh2
 {
     font-size: 36px;
     line-height: 38px;   
 }
 .news_line
 {
     width: 50px;  
 }
 .news_inner
 {
    flex-direction: column;
    align-items: center;
 }
 .quote_p
 {
     max-width: 275px;
 }
 .footer_logo
 {
     left: 24%;
 }
 .contact-wrap
 {
     flex-direction: column;
     margin: auto;
     text-align: center; 
 }
 .footer_icon-wrap 

 {
     align-items: center;
     flex-direction: column; 
 }
 .footer_contact-wrapper
 {
    flex-direction: column;
 }
 .icon
 {
     border: none;
     padding: 0px;
     padding-bottom: 16px;
 }
 .footer_P
 {
     max-width: 300px;
     margin: auto;
     text-align: center;
     padding-bottom:40px ;
 }
 .quote_p
 {
     margin: auto;
 }
 .back_inner
 {
     justify-content: center;
     align-items: center;
     margin-right: 0;
     
 }
 .back_link
 {
    padding-top: 67px;
 }   
 .back
 {
     height: 142px;
 }
}
@media (max-width:375px)
{
 .footer_logo
 {
     left: 21%;
 }
}
@media (max-width:320px)
{
 .footer_logo
 {
     left: 16%;
 }
}